.droInput {
	display: inline-block;
	border: 1px solid #AAA;
	background-color: #f4f7fa;
	padding: 0 6px;
}
.droInput.droDisabled {
	border: 1px solid #CCC;
	background-color: #F3F3F3;
}
.droInput.droFocus {
	outline: 1px solid #4D90FE;
}
.droInput.droDisabled {
	background-color: gray;
	color: #BBB;
}
.droInput > input {
	border: none;
	text-align: right;
	padding: 4px 1px 4px 1px;
	background-color: inherit;
	font: inherit;
}
.droInput > input:focus {
	outline: none;
}
.droInput > span {
	color: gray;
}
.dro1char {
	width: 0.6em;
}
.dro2char {
	width: 1.2em;
}
.dro3char {
	width: 1.8em;
}
.dro4char {
	width: 2.4em;
}
.dro5char {
	width: 3.0em;
}
.dro6char {
	width: 3.6em;
}
