.droopy-input {
	display: inline-block;
	border: 1px solid gray;
	border-radius: 3px;
	background-color: #f4f7fa;
	padding: 0 2px;
}

.droopy-input.droopyFocus {
	outline: 1px solid blue;
}

.droopy-input > input {
	border: none;
	text-align: right;
	padding: 0 1px;
	border-radius: 2px;
	background-color: inherit;
}

.droopy-input > input:focus {
	outline: none;
}

.droopy-input > span {
	color: gray;
}

.droopy1char {
	width: 0.6em;
}

.droopy2char {
	width: 1.2em;
}

.droopy3char {
	width: 1.8em;
}

.droopy4char {
	width: 2.4em;
}

.droopy5char {
	width: 3.0em;
}

.droopy6char {
	width: 3.6em;
}

