.droopy-input {
	display: inline-block;
	border: 1px solid gray;
}

.droopy-input.droopyFocus {
	outline: 1px solid blue;
}

.droopy-input > input {
	border: none;
	text-align: right;
	padding: 0 2px;
}

.droopy-input > input:focus {
	outline: none;
}

.droopy-input > span {

}

.droopy1char {
	width: 1ex;
}

.droopy2char {
	width: 2ex;
}

.droopy3char {
	width: 3ex;
}

.droopy4char {
	width: 4ex;
}

.droopy5char {
	width: 5ex;
}

.droopy6char {
	width: 6ex;
}

