html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

.page {
	max-width: 1024px;
	width: 80%;
	margin: 0 auto;
}

.par {
	margin: 10px 0;
}

.lbl {

}

.result {
	background-color: #b8f5bc;
}